/* logo */

.navbar
{
    background-color: #FFD93D;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
}


.navbar img
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* jumbotron */
.bg-cover
{
    background-image: url("../../assets/img/amanesu.jpg");
    background-repeat: none;
    background-size: cover;
    height: 80vh;
}

.tombol
{
    border-radius: 15px;
}

.tombol:first-child
{
    background-color: #FFD93D;
    color: white;
}

.tombol:nth-child(2)
{
    border: 1px solid #FFD93D;
    color: white;
}